-# ----------------------タブ切り替え機能-------------------------------
%ul.tab
  %li.select タブトリガー１
  %li タブトリガー２
  %li タブトリガー３


%ul.content
  %li タブコンテンツ１
  %li.hide タブコンテンツ２
  %li.hide タブコンテンツ３



-# -----------------------アコーディオン機能---------------------------------------------

%dl#acMenu
  %dt アコーディオントリガー
  %dd content
  %dt アコーディオントリガー
  %dd content
  %dt アコーディオントリガー
  %dd content
